<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'login/css/register.css' %}">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
</head>
<style>
    .top_header{
            color: #e4e1de;
            background-color: rgb(92, 23, 23);
            text-align: center;
            /* height: 100px; */
            /* padding:30px; */
            
        }
        .link{
            color:#e4e1de;
        }
        #logoutbt{
            color:#e4e1de;
        } 
        #wraper{
            background: linear-gradient(to bottom, #FFB88C, #DE6262);
            /* background: url("https://images.pexels.com/photos/1105189/pexels-photo-1105189.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"); */
            /* background-size: auto; */
        }
        #name{
            color: black;
        }
       
        
    </style>

<body>
    <div class="top_header">
        <div class="row align-items-end">
            <div class="col-sm-4">
                <h3>Canary English Center</h3>
            </div>
            <div class="col-sm-6">
                <h4><a class="link" href="/myaccount/{{user.id}}">{{user.user_name}}</a></h4>
            </div>
            <div class="col-sm-6">
                <a id="logoutbt" class="nav-link active" href="/logout">Log Out</a>
            </div>
        </div>
    </div>
    
    <div class="container">
        
        <!---heading---->
        <header class="heading"> Edit your profile</header>
        <hr>
        </hr>
        <form action="/editmyaccount/{{user.id}}" method="post">
            {% csrf_token %}
            <!---Form starting---->
            <div class="row ">
                <!--- For Name---->
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-xs-4">
                            <label class="username">Username :</label> </div>
                        <div class="col-xs-8">
                            <input type="text" name="user_name" id="fname" value="{{user.user_name}}" class="form-control ">
                        </div>
                    </div>
                </div>
                <!-- for teacher or students -->
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-xs-4 ">
                            <label class="gender">You are:</label>
                        </div>

                        <div class="col-xs-4 teacher">
                            <input type="radio" name="catergory" value="teacher">Teacher</input>
                        </div>

                        <div class="col-xs-4 student">
                            <input type="radio" name="catergory" value="student">Student</input>
                        </div>

                    </div>
                    <!-----For email---->
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-xs-4">
                                <label class="mail">Email :</label></div>
                            <div class="col-xs-8">
                                <input type="email" name="email" id="email" value="{{user.email}}" class="form-control">
                            </div>
                        </div>
                    </div>

                    <!-----------For Phone number-------->
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-xs-4 ">
                                <label class="pass">Phone Number:</label>
                            </div>

                            <div class="col-xs-4 male">
                                <input class="form-control" type="tel" name="phone_number" id="phone_number" value="{{user.phone_number}}">
                            </div>

                        </div>
                        <div class="col-sm-12" id="button">
                            <div class="btn btn-warning"><input type="submit" value="Save Changes"></div>
                        </div>
                    </div>
                </div>
        </form>
        <ul class="messages">
            {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}

    </div>




</body>

</html>